<%= if assigns[:inner_block] do %>
  {render_slot(@inner_block)}
<% else %>
  <main class="p-6">
    {@inner_content}
  </main>
  <LiveToast.toast_group
    flash={@flash}
    connected={assigns[:socket] != nil}
    toasts_sync={assigns[:toasts_sync]}
  />
<% end %>
