*
!mix.lock
!mix.exs
!.workspace.exs
!config/
!config/config.exs
!apps/
!apps/cadence_simulator/
!apps/cadence_simulator/mix.exs
!apps/cadence_simulator/mix.lock
!apps/cadence_simulator/config/
!apps/cadence_simulator/config/**
!apps/cadence_simulator/lib/
!apps/cadence_simulator/lib/**
!apps/cadence/
!apps/cadence/**
!apps/cadence_web/
!apps/cadence_web/**
!packages/
!packages/cadence_catalog/
!packages/cadence_catalog/mix.exs
!packages/cadence_catalog/mix.lock
!packages/cadence_catalog/lib/
!packages/cadence_catalog/lib/**
!packages/ccsds/
!packages/ccsds/mix.exs
!packages/ccsds/mix.lock
!packages/ccsds/lib/
!packages/ccsds/lib/**
!packages/xtce/
!packages/xtce/mix.exs
!packages/xtce/mix.lock
!packages/xtce/lib/
!packages/xtce/lib/**
!packages/xtce/priv/
!packages/xtce/priv/**
!dev/
!dev/ingress-benchmark/
!dev/ingress-benchmark/**
