*
!mix.lock
!mix.exs
!.workspace.exs
!config/
!config/**
!apps/
!apps/cadence_catalog/
!apps/cadence_catalog/mix.exs
!apps/cadence_catalog/lib/
!apps/cadence_catalog/lib/**
!apps/cadence_ccsds/
!apps/cadence_ccsds/mix.exs
!apps/cadence_ccsds/lib/
!apps/cadence_ccsds/lib/**
!apps/cadence_simulator/
!apps/cadence_simulator/mix.exs
!apps/cadence_simulator/config/
!apps/cadence_simulator/config/**
!apps/cadence_simulator/lib/
!apps/cadence_simulator/lib/**
!apps/cadence/
!apps/cadence/**
!apps/cadence_web/
!apps/cadence_web/**
!dev/
!dev/ingress-benchmark/
!dev/ingress-benchmark/**
