<.header>
  Targets
  <:subtitle>All targets across your missions</:subtitle>
</.header>

<.table id="targets" rows={@targets}>
  <:col :let={target} label="Identifier">{target.identifier}</:col>
  <:col :let={target} label="Name">{target.name}</:col>
  <:col :let={target} label="Type">{target.type}</:col>
  <:col :let={target} label="Status">
    <.status_badge status={target.status} />
  </:col>
  <:action :let={target}>
    <.link navigate={~p"/targets/#{target}"}>Show</.link>
  </:action>
  <:action :let={target}>
    <.link navigate={~p"/missions/#{target.mission_id}"}>View Mission</.link>
  </:action>
</.table>
